<!DOCTYPE html>
<html>
  <head>
    <title>DicDay10</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if longged_in? %>
      <p>ログイン中です</p>
      <%= link_to 'ログアウト', session_path(current_user.id), method: 'delete', data: { confirm: 'ログアウトしますか？' } %>
    <% else %>
      <%= link_to 'ログイン', new_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
